PORT=3002
META_PIXEL_ID=your_meta_pixel_id
META_CAPI_ACCESS_TOKEN=your_meta_capi_access_token
META_API_VERSION=v20.0
PURCHASE_VALUE=1
PURCHASE_CURRENCY=MYR
META_TEST_EVENT_CODE=
BREVO_API_KEY=your_brevo_api_key
LEAD_EMAIL_TO=mvegas58@hotmail.com
LEAD_EMAIL_BCC=adrenjack188@gmail.com
BREVO_SENDER_EMAIL=adrentan888@gmail.com
BREVO_SENDER_NAME=Yayasan Prihatin Sdn Bhd
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_LEADS_TABLE=leads
LEADS_ADMIN_PASSWORD=
